
@media only screen and (max-width: 767px) {
  .header {
    padding: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35rem;
    background-color: rgb(74, 146, 80);
  }
  .imgHeader {
    height: 80px;
    width: 80px;
    border-radius: 20px;
  }
  .listHeaderOl{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    color: white;
    font-size: 26px;
    font-weight: bold;
  }
  .imgR {
    justify-self: center;
    width: 50px;
  }
  #divFilter{
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 7px;
    height: 3.1rem;
  }
  .Filters {
    display: flex;
    width: 37rem;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    column-gap: 0.5rem;
    margin-left: 0.2rem;
    align-self: center;
  } 
  #txtName{
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    float:right;
    background-color:transparent;
    padding-left:5px;
    border: cadetblue;
    width:120px;
}

#divFilter input{
    width: 80%;
    height: 100%;
    &:focus{
        outline: none;
    }
}

#divSpecies {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 10rem;
    height: 1rem;
}
select{
    border:none;
    width: 100%;
  }
  #divGender {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 10rem;
    height: 1rem;
}

#divStatus {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 10rem;
    height: 1rem;
}


.charactersDiv {
    height: 20rem;
    width: 15rem;
    margin: 12px;
    border-radius: 7px;
    color: black;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 2px 3px 3px 3px #d1d0d0;
    }

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 36.5rem;
    height: 5rem;
    background-color:  rgb(74, 146, 80);
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

.footerDiv{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: white;
    text-align: center;
    column-gap: 10px;
}

.listFooter {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.listFooter a {
    text-decoration: none !important;
    color: white;
    font-size: 26px;

}

.infoDiv {
    font-family: "Roboto Mono", monospace;
    display: flex;
    height: 25px;
    width: 320px;
    color: black;
    padding: 10px;
    text-wrap: nowrap;
    font-size:22px;
    
}

.iconPersons {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.especie {
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    height: 15px;
    width: 320px;
    color: black;
    padding: 15px;
}
#charactersList{
    display: flex;
    width: 38rem;
    flex-direction: row;
    justify-content: center;
  }
}

/* Tablet and biggers */
@media only screen and (min-width: 768px) {}

/* Tablet and smalers */
@media only screen and (max-width: 1023px) {}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Notebook and biggers */
@media only screen and (min-width: 1024px) {}

/* Notebook and smalers */
@media only screen and (max-width: 1679px) {}

/* Notebook only */
@media only screen and (min-width: 1024px) and (max-width: 1679px) {}

/* Desktop only */
@media only screen and (min-width: 1680px) {
  .header {
    padding: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100wh;
    height: 3rem;
    background-color: rgb(74, 146, 80);
}

.imgHeader {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.listHeaderOl{
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.imgR {
    display: flex;
    width: 100%;
    justify-content: center;
}

.Filters {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 20px;
}

#divFilter{
    display: flex;
    flex-direction: row;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 7px;
    width: 360px;
    height: 68px;
}
  
#txtName{
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    float:right;
    background-color:transparent;
    padding-left:5px;
    border: cadetblue;
    width:120px;
}

#divFilter input{
    width: 80%;
    height: 100%;
    &:focus{
        outline: none;
    }
}

#divSpecies {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 270px;
    height: 35px;
}
select{
    border:none;
    width: 100%;
}


#divGender {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 270px;
    height: 35px;
}

#divStatus {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    padding: 17px;
    border: 1px solid black;
    border-radius: 7px;
    width: 270px;
    height: 35px;
}
.charactersDiv {
    height: 410px;
    width: 323px;
    margin: 12px;
    border-radius: 7px;
    color: black;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 2px 3px 3px 3px #d1d0d0;
    }

.divFooter {
    display: flex;
    flex-direction: row;
    height: 5rem;
    background-color: black;
    justify-content: center;
    padding: auto;
    align-items: center;
}

.footerDiv{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: white;
    text-align: center;
    column-gap: 10px;
}

.listFooter {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.listFooter a {
    text-decoration: none !important;
    color: white;
    font-size: 26px;

}

.infoDiv {
    font-family: "Roboto Mono", monospace;
    display: flex;
    height: 25px;
    width: 320px;
    color: black;
    padding: 10px;
    text-wrap: nowrap;
    font-size:22px;
    
}

.iconPersons {
    height: 19rem;
    width: 20.2rem;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.especie {
    font-family: "Roboto Mono", monospace;
    font-weight: lighter;
    font-size: 18px;
    display: flex;
    height: 15px;
    width: 320px;
    color: black;
    padding: 15px;
}
#charactersList{
    display: grid;
    grid-template-rows: repeat(2, 1.5fr);;
    grid-template-columns: repeat(4, 25rem);
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

    }
}