.header {
    padding: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100wh;
    height: 3rem;
    background-color: rgb(74, 146, 80);
}

.imgHeader {
    height: 80px;
    width: 80px;
    border-radius: 20px;
}

.listHeaderOl{
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    color: white;
    font-size: 26px;
    font-weight: bold;
}
 
main {
    display: flex;
    height: auto;
}

.divPrincipal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.charactersDiv {
    height: 15rem;
    width: 14.1rem;
    border-radius: 7px;
    margin: 1.5rem; 
    color: black;
    font-size: 26px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 3px 3px 3px #d1d0d0;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 5rem;
    background-color:  rgb(74, 146, 80);
    justify-content: center;
    column-gap: 40px;
    align-items: center;
}

.footerDiv{
    display: flex;
    flex-direction: row;
    font-size: 26px;
    color: white;
    text-align: center;
    column-gap: 10px;
}

.listFooter {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.listFooter a {
    text-decoration: none !important;
    color: white;
    font-size: 26px;

}

.infoDiv {
    display: flex;
    height: 16px;
    width: 320px;
    color: black;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.iconPersons {
    height: 285px;
    width: 320px;
    object-fit: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.especie {
    display: flex;
    height: 15px;
    width: 320px;
    color: black;
    padding: 15px;
}